@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --sidebar-color: #000000;
    --text-color: #E5E5E5;
    --bg-color: #FFFFFF;
    --border-color: #14213D;
    --highlight-color: #FCA311;
    font-family: 'Roboto', system-ui;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* -------- sidebar -------- */

#sidebar {
    height: 100%;
    background-color: var(--sidebar-color);
    position: fixed;
    width: 30%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sidebar a {
    text-decoration: none;
    color: var(--highlight-color);
    display: block;
    font-size: 2rem;
    line-height: 2.5rem;
}

#sidebar a:hover {
    color: var(--text-color);
}

#sidebar hr {
    border-color: var(--highlight-color);
}

/* -------- main content -------- */

#content {
    margin-left: 30%;
    padding: 10px 50px;
    background-color: var(--bg-color);
    width: 100%;
}

.title {
    padding: 10px 0px;
}

.project-title {
    padding: 30px 0px 10px 0px;
}

.project hr {
    margin: 10px 15px;
    border-style: dotted;
}

.todo {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo:hover {
    background-color: var(--text-color);
}

.todo > div > p:last-child {
    font-size: 0.8rem;
}

.todo-button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: var(--sidebar-color) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-button:hover {
    cursor: pointer;
}

.todo-button div {
    width: 60%;
    height: 60%;
    background-color: var(--sidebar-color);
    border-radius: 50%;
}

#add-button {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: var(--highlight-color);
    border-color: var(--sidebar-color);
    border-style: solid;
    color: var(--sidebar-color);
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 2.5rem;
}

#add-button:hover{
    cursor: pointer;
    color: var(--text-color);
    border-color: var(--border-color);
}